.DS_Store
.ipynb_checkpoints/
.idea

data/intermediate/test
data/intermediate/train
data/processed/test
data/processed/train
data/raw/test
data/raw/train

data/processed/
data/raw/
data/raw2/


*.txt
*.jpg
*.png
